@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
p{
   padding-bottom: 5px;
}

code {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-superlight: #f4c5f9;
  --color-light: #db38ed;
  --color-dark: #913ddb;
  --color-grey: #e4e7eb;
  --color-white: #fff;
}
