@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  @media screen and (max-width: 500px) {
   font-size: 13px;
 }
}

code {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-superlight: rgb(219, 56, 237, 0.1);
  --color-light: rgb(219, 56, 237);
  --color-dark: #913ddb;
  --color-grey: #e4e7eb;
  --color-white: #fff;
}
